{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}"/>
{% endblock %}

{% block content %}

<section class="logo-container d-flex justify-content-center align-items-center flex-column mt-5">
  <h3>Welcome To The Fish Collector</h3>
  <img src="{% static '/images/header.png' %}" alt="logo">
</section>
{% if not user.is_authenticated %}
  <section class="logo-container d-flex justify-content-center align-items-center flex-column mt-5">
    <form action="{% url 'home' %}" method="post" class="login">
      <h1>Login</h1>
      {% csrf_token %}
      {{ form.as_p }}
      <input type="hidden" name="next" value="{{ next }}">
      <button type="submit" class="btn btn-outline-primary">Login</button>
    </form>
  </section>
{% endif %}

{% endblock %}