{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static '/css/fish/fish-detail.css' %}"
/>
{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center">
  <div class="card" style='width: 50%;"'>
    <img src="{{ fish.picture }}" alt="picture of fish">
      <div class="card-body">
        <h5 class="card-title">{{ fish.name }}</h5>
        <p class='card-text'>{{ fish.scientific_name }}</p>
        <a href="{% url 'fish_update' fish.id %}" class="btn btn-outline-warning">Edit</a>
        <a href="{% url 'fish_delete' fish.id %}" class="btn btn-outline-danger">Delete</a>
      </div>
  </div>
</div>

{% endblock %}