{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/fish/fish-index.css' %}"
/>
{% endblock %}

{% block content %}

  <section class="container d-flex w-75 flex-wrap mt-2">
    {% for fish in fish %}
      <a href="{% url 'fish_detail' fish.id %}" class="text-decoration-none text-dark">
        <div class="card m-2 flex-column justify-content-center" style='width: 18rem;height: 18rem;'>
          <img src="{{ fish.picture }}" alt="picture of fish">
            <div class="card-body">
              <h5 class="card-title">{{ fish.name }}</h5>
              <p class='card-text'>{{ fish.scientific_name }}</p>
              <p class='card-text'>{{ fish.get_category_display }}</p>
            </div>
        </div>
      </a>
    {% endfor %}
  </section>

{% endblock %}